name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Assemble release bundle
      if: github.event_name == 'push'
      run: ./gradlew assembleRelease
    - name: Sign release artifacts
      id: sign_app
      if: github.event_name == 'push'
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
        alias: ${{ secrets.ANDROID_KEY_ALIAS }}
        keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
    - name: Publish to Google Play
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlain: ${{ secrets.PLAY_SERVICE_ACCOUNT_JSON }}
        packageName: com.alienmantech.cobaltcomet
        releaseFiles: ${{ steps.sign_app.outputs.signedReleaseFile }}
        track: production
